*{
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#51ABFF, white);
}
.content {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}
.title {
    font-family: 'Oxanium', cursive;
    font-size: 48px;
    color: white;
    margin: 1em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.603);
}
.device {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.titleDevice {
    font-family: 'Oxanium', cursive;
    font-size: 24px;
}

.textDevice {
    font-family: 'Oxanium', cursive;
    font-size: 18px;
}

.iconDevice{
    margin: 15px;
    height: 115px;
    width: 115px;
}

.buttonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin: 1em;
}

.buttonDevice{
    margin: 5px;
    padding: 4px;
    font-family: 'Oxanium', cursive;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
}
.buttonDevice:hover{
    background-color: #51ABFF;
    font-size: 16px;
}

.buttonSettingDevice{
    margin: 5px;
    padding: 4px;
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.buttonSettingDevice:hover{
    height: 50px;
    width: 50px;
}

.deviceConfig {
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    padding: 5px;
    width: 20vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 20px;
}

.buttonCloseConfig{
    align-self: flex-end;
    margin: 5px;
    padding: 3px;
    font-family: 'Oxanium', cursive;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 14px;
}
.buttonCloseConfig:hover{
    background-color: #51ABFF;
}

.menuMethod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.selectMethod {
    font-family: 'Oxanium', cursive;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 25%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.603)
}
